/* ---- Global ---- */
:root {
    --white: hsl(0deg 0% 100%);
}

html {
    font-size: clamp(0.62rem, 0.425rem + 1vw, 0.79rem);
    font-family: Roboto, sans-serif;
}

body {
    font-size: 1.6rem;
    background-color: hsl(0deg 0% 95%);
    text-align: center;
}

/* ---- Header ---- */
.header__title {
    margin-block: 3rem 2rem;
    margin-inline: 15px;
    font-size: 3rem;
}

/* ---- Container ---- */
.container__title {
    margin-block: 10px;
    margin-inline: 15px;
}

/* ---- Form ---- */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
    inline-size: 75%;
    max-inline-size: 400px;
}

.telephone {
    display: grid;
    grid-template-columns: 6.5rem minmax(110px, 1fr);
    gap: 8px;
    margin-block: 10px 16px;
}

.telephone__input {
    border: 1px solid hsl(0deg 0% 76%);
    border-radius: 8px;
    block-size: 48px;
    text-align: inherit;
}

.form__button {
    margin-inline: auto;
    border-radius: 16px;
    padding-block: 12px;
    padding-inline: 16px;
    color: var(--white);
    background-color: hsl(174deg 90% 25%);
    cursor: not-allowed;
}

.form:valid .form__button {
    cursor: pointer;
}
